html, body {
    background: #fff;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-transform: lowercase;
}
.container {
    padding: 0;
    width: 100%;
}

.photos .item {
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.photos .item:hover {
    background: #000;
    text-decoration: none;
    transition: background 500ms;
}
.photos p.author {
    color: #000;
    padding: 24px;
    text-align: left;
}
.photos .item:hover p.author, .item:hover a {
    color: #fff;
    text-decoration: none;
}
.photo {
    margin: 0 0 80px;
}
.photo img {
    width: 100%;
}
.photo h2 {
    color: #000;
    padding: 20px 108px;
}
.photo p {
    color: #6f6f6f;
    margin: 0;
    padding: 0 108px 0;
}


.header h1 {
    color: #000;
    font-size: 30px;
    font-weight: bold;
    text-transform: lowercase;
}

.app {
    overflow: hidden;
    position: relative;
    width: 23%;
    display: inline-block;
    margin: 0 2px;
    position: relative;
}

.title {
    color: #000;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}

.developer {
    color: #afafaf ;
    font-size: 14px;
}

.price {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    bottom: 100px;
    right: 56px;
    line-height: 60px;
    width: 60px;
    height: 60px;
    position: absolute;
    background: #fff;
    border-bottom:5px solid #000;
    text-align: center;
}

.btn {
    background: transparent;
    color: #000;
    border: 1px solid #000;
    font-size: 14px;
    font-weight: 200;
    padding:2px 10px;
    border-radius: 2px;
}

.btn:hover {
    color: rgb(255,80,80);
    background: rgba(255,80,80,0.25);
    transition: background 500ms;
    border: 1px solid rgb(255,80,80);
}

.btn-downloaded {
    background-color: #ababab ;
    color: #3f3f3f ;
}