/* 缩略图列表公共css s */
.thumb-list .items {
    overflow: hidden;
    margin: 20px 0;
}
.thumb-list .item {
    width: 180px;
    height: 276px;
    margin-right: 17px;
    float: left;
    border: 1px solid #ddd;
}
.thumb-list .item img {
    width: 178px;
    height: 135px;
    padding-left: 1px;
}
.thumb-list .item-info {
    padding: 10px 5px;
    line-height: 24px;
}
.thumb-list .name {
    font-size: 14px;
    color: #0088cc;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.thumb-list .address {
    font-size: 12px;
    color: #666;
}
.thumb-list .item-info .time,
.thumb-list .item-info .desc {
    font-size: 12px;
    color: #999;
}
/* 资源列表模块公共css e */