/* 配色 */
$color-bg: #fff;
$color-bg-gray: #eee;

$color-text: #3d3d3d;
$color-text-light: #999;
$color-border: #000;


/* 字体 */
$font-family:	Tahoma, "Microsoft Yahei", sans-serif;
$font-base:		12px;
$font-lg:			14px;

$line-base:	1.5;

$page-title-size:	18px;


/* 布局 */
$gap: 10px;

$top-bar-padding:		$font-base;
$top-bar-logo-size:	20px;

$page-min-width: 1200px;
$side-nav-width: 150px;


/* 表单 */
$control-size: 200px;
$control-height: 30px;
