.side-bar {
    width: 15%;
    height: 380px;
    float: left;
    background: #fff;
    margin-right: 5px;
}
.side-bar li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
}
.side-bar li a:hover {
    background-color: #eee;
    color:#444;
}
.resource {
    float: left;
    width: 82%;
}
.resource .top{
    height: 40px;
    margin: 15px 0;
    border: 1px solid #ddd;
}
.resource .tabs {
    background-color: #fff;
}
.resource .tabs li {
    float: left;
    text-align: center;
    border-right: 1px solid #ddd;
}
.resource .tab {
    display: inline-block;
    min-width: 80px;
    line-height: 40px;
    padding: 0 20px;
    color: #666;
}
.resource .tab:hover {
    background-color: #f4f4f4;
    color: #0088cc;
}
.resource .tab.selected {
    color: #fff;
    background-color: #00a1f2;
}
/* 资源列表部分 s */
.resource .wrapper-list {
    background-color: #fff;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .05);
    padding-bottom: 10px;
}
.resource .wrapper-header {
    height: 42px;
    line-height: 42px;
    padding-left: 18px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #d3d3d3;
}
.resource .module-content {
    padding: 0 18px;
}
.resource .number {
    color: #ff9833;
}
.resource .icon-switch {
    display: inline-block;
    float: right;
}
.resource .icon-switch .thumb-view,
.resource .icon-switch .info-view {
    display: inline-block;
    width: 40px;
    height: 42px;
    text-align: center;
}
.resource icon {
    display: inline-block;
    width: 14px;
    height: 15px;
    background: url("../../assert/images/icon_switch.png") no-repeat;
}
.resource .icon-thumb {
    background-position:  -42px 0;
}
.resource .icon-info {
    background-position:  -56px 0px;
}
.resource .icon-switch .thumb-view.active,
.resource .icon-switch .info-view.active {
    background-color: #fff;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
}
.resource .icon-switch .thumb-view.active .icon-thumb {
    background-position:  -42px -20px;
}
.resource .icon-switch .info-view.active .icon-info {
    background-position: -56px -20px;
}
/* 资源列表部分 end */
/* 全部tab s*/
.module {
    margin: 10px 0;
    padding: 10px 18px 1px;
    background-color: #fff;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .05);
}
.module .module-name {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ddd;
}
.module .title {
    font-size: 14px;
    font-weight: bold;
    color: #444;
    padding: 0 20px;
    float: left;
    border-bottom: 2px solid #00a1f2;
}
.module .more {
    float: right;
    color: #666;
}
/* 全部tab e*/

.thumb-list .items {
    overflow: hidden;
    margin: 20px 0;
}
.thumb-list .item {
    width: 180px;
    height: 276px;
    margin-right: 17px;
    float: left;
    border: 1px solid #ddd;
}
.thumb-list .item img {
    width: 178px;
    height: 135px;
    padding-left: 1px;
}
.thumb-list .item-info {
    padding: 10px 5px;
    line-height: 24px;
}
.thumb-list .name {
    font-size: 14px;
    color: #0088cc;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.thumb-list .address {
    font-size: 12px;
    color: #666;
}
.thumb-list .item-info .time,
.thumb-list .item-info .desc {
    font-size: 12px;
    color: #999;
}