<div class="personal">
    <div class="wrapper-list">
        <div class="wrapper-header">
            <span class="number">共3个资源</span>
            <div class="icon-switch">
                <a class="thumb-view active" ng-class={active:vm.isShowThumb} ng-click="vm.showThumbListClick()"><icon class="icon-thumb"></icon></a>
                <a class="info-view" ng-class={active:vm.isShowDetail} ng-click="vm.showDetailListClick()"><icon class="icon-info"></icon></a>
            </div>
        </div>
        <div ng-show="vm.isShowThumb" class="module-content"  ui-view="thumbList"></div>
        <div ng-show="vm.isShowDetail" ui-view="detailList"></div>
    </div>
</div>