.app {
    overflow: hidden;
    position: relative;
    width: 23%;
    display: inline-block;
    margin: 0 2px;
    position: relative;
}

.title {
    color: #000;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}

.developer {
    color: #afafaf ;
    font-size: 14px;
}

.price {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    bottom: 100px;
    right: 56px;
    line-height: 60px;
    width: 60px;
    height: 60px;
    position: absolute;
    background: #fff;
    border-bottom:5px solid #000;
    text-align: center;
}

.btn {
    background: transparent;
    color: #000;
    border: 1px solid #000;
    font-size: 14px;
    font-weight: 200;
    padding:2px 10px;
    border-radius: 2px;
}

.btn:hover {
    color: rgb(255,80,80);
    background: rgba(255,80,80,0.25);
    transition: background 500ms;
    border: 1px solid rgb(255,80,80);
}

.btn-downloaded {
    background-color: #ababab ;
    color: #3f3f3f ;
}